<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">


<head>

  <!--*META*-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Сервис рекомендательной самодиагностики здоровья">
  <meta name="Keywords" content="симптом, симптомы, чекер, symptom, checker, узнать диагноз, онлайн, доктор, врач в кармане, диагноз" />
  <meta name="author" content="MedExSYS" />

  <!--Помогаем Google определить месторасположение, а так же другую контактную информацию.-->
  <meta property="business:contact_data:email" content="info@medexsys.ru" />
  <!--<meta property="business:contact_data:phone_number" content="+79991234567" />-->
  <meta property="business:contact_data:website" content="https://selfhealth.ru/" />

  <!--Open Graph-->
  <meta name="og:title" content="SELFHEALTH" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="https://selfhealth.ru/" />
  <meta name="og:site_name" content="SELFHEALTH - Врач в кармане" />
  <meta name="og:description" content="Сервис рекомендательной самодиагностики здоровья" />

  <meta name="og:email" content="info@medexsys.ru" />
  <!--<meta name="og:phone_number" content="+79991234567" />-->


  <!--*TITLE*-->
  <title th:text="${title}">Title</title>

  <!--*FAVICON*-->
  <link rel="shortcut icon" href="img/favicon.png"><!-- .ico, .png, .svg, .WebP -->


  <!--*CSS*-->

  <!--*CSS-LIBRARIES*-->
  <!--UIkit CSS-->
  <link rel="stylesheet" href="libs/UIkit/uikit.min.css">

  <!--*CSS ANIMATIONS Libs*-->
  <!---no--->

  <!--colours-->
  <link href="css/colors.css" rel="stylesheet">
  <!--main custom-->
  <link href="css/main.css" rel="stylesheet">

  <!--*FONTS*-->


  <!--*JAVA SCRIPT*-->

  <!--*JAVA SCRIPT FRAMEWORKS*-->
  <!--VUEjs-->
  <script src="libs/Vue/vue.min.js"></script>
  <!--AXIOS-->
  <script src="libs/axios/axios.min.js"></script>

  <!--*JAVA SCRIPT LIBRARIES*-->
  <!--UIkit JS-->
  <script src="libs/UIkit/uikit.min.js"></script>

  <!--*JAVA SCRIPT ANIMATIONS*-->
  <!---no--->

  <!--*JAVA SCRIPT ICONS*-->
  <!--*UIkit Icons JS*-->
  <script src="libs/UIkit/uikit-icons.min.js"></script>

</head>

<body>

  <div class="site" id="app">

    <header class="site-header">

      <div class="site-header_mainbar">

        <div class="site-header_mainbar-content u-container uk-conatainer">
          <a class="app-info" href="/">
            <picture class="app-info_logo">
              <img class="app-info_logo-img" src="img/Logo.svg" alt="selfhealth logotype" height="48" width="48">
            </picture>
            <div class="app-info_label uk-light">
              <h1 class="app-info_name">
                selfhealth
              </h1>
              <span class="app-info_subname">
                #врач в кармане
              </span>
            </div>
          </a>
          <nav class="site-header_nav">

            <ul class="site-header_menu c-list uk-visible@m">
              <li class="site-header_menu-item">
                <a href="#" class="c-btn c-btn--outline-light site-header_menu-link">
                  расшифровать анализы
                </a>
              </li>
              <li class="site-header_menu-item">
                <a href="#" class="c-btn c-btn--flat-light site-header_menu-link">
                  проверить симптомы
                </a>
              </li>
              <li class="site-header_menu-item">
                <a href="#" class="c-btn c-btn--text-light site-header_menu-link">
                  вход или регистрация
                </a>
              </li>
            </ul>

            <ul class="site-header_menu c-list uk-hidden@m">
              <li class="site-header_menu-item">
                <a href="#modal-center" class="c-btn c-btn--text-light c-btn--icon u-circled" uk-toggle>
                  <svg class="c-btn_icon site-header_menu-icon" width="32" height="32" viewBox="0 0 32 32">
                    <use xlink:href="/img/icons/burger.svg#icon-burger"></use>
                  </svg>
                </a>
              </li>
            </ul>

          </nav>
        </div>

      </div>

    </header>
    <!--/.site-header-->


    <div class="site-body">

      <div class="site-row">

        <div class="site-content">

          <div class="page">

            <div class="page-header">

              <div class="page-header_nav">
                <ul class="page-header_menu u-container uk-container c-list">
                  <li class="page-header_menu-item">
                    <a href="#" class="page-header_menu-link c-btn c-btn--md c-btn--text-base">
                      О сервисе
                    </a>
                  </li>
                  <li class="page-header_menu-item">
                    <a href="#" class="page-header_menu-link c-btn c-btn--md c-btn--text-base">
                      Наша миссия
                    </a>
                  </li>
                  <li class="page-header_menu-item">
                    <a href="#" class="page-header_menu-link c-btn c-btn--md c-btn--text-base">
                      Справочник болезней
                    </a>
                  </li>
                  <li class="page-header_menu-item">
                    <a href="#" class="page-header_menu-link c-btn c-btn--md c-btn--text-base">
                      Информация
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <!--/.page-header-->

            <div class="page-body">

              <div class="page-row">

                <div class="page-content u-container">

                  <section class="page-item u-py-xl u-px-sm">

                    <div class="uk-child-width-1-1 uk-child-width-1-2@m" uk-grid v-if="!hide">

                      <div class="">
                        <div class="page-title section_item">
                          <h2 class="page-title_label e-h2 tg-base--strong">
                            Поставим предварительный диагноз
                          </h2>
                        </div>
                        <div class="section_item">

                          <!--GENDER SELECT-->
                          <div class="">
                            <h3 class="e-h3 page-subtitle tg-base--strong">
                              Укажите за кого проходите тест
                            </h3>
                            <ul class="u-mb-xl" uk-accordion="multiple: true">
                              <li>
                                <a class="uk-accordion-title" href="#">Взрослый</a>
                                <div class="uk-accordion-content">
                                  <label for="gender-0">
                                    <input id="gender-0" type="radio" class="uk-radio u-mr-sm" name="gender" value="0" v-model="gender">
                                    Мужчина
                                  </label>
                                  <br>
                                  <label for="gender-1">
                                    <input id="gender-1" type="radio" class="uk-radio u-mr-sm" name="gender" value="1" v-model="gender">
                                    Женщина
                                  </label>
                                </div>
                              </li>
                              <li>
                                <a class="uk-accordion-title" href="#">Ребенок</a>
                                <div class="uk-accordion-content">
                                  <label for="gender-2">
                                    <input id="gender-2" type="radio" class="uk-radio u-mr-sm" name="gender" value="2" v-model="gender">
                                    Мальчик
                                  </label>
                                  <br>
                                  <label for="gender-3">
                                    <input id="gender-3" type="radio" class="uk-radio u-mr-sm" name="gender" value="3" v-model="gender">
                                    Девочка
                                  </label>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--/GENDER SELECT-->

                          <!--LOCATION SELECT-->
                          <div style="display: none" v-show="gender">
                            <h3 class="e-h3 page-subtitle tg-base--strong" id="symptom-title">
                              Выберите беспокоящую область
                            </h3>
                            <ul th:each="sympt : ${symptoms}" class="symptom-list uk-list">
                              <li class="symptom-item">
                                <!--/*@thymesVar id="key" type="java.lang.Integer"*/-->
                                <label th:for="location- + ${sympt.key}" for="location-1">
                                  <!--/*@thymesVar id="key" type="java.lang.Integer"*/-->
                                  <!--/*@thymesVar id="value" type="java.lang.String"*/-->
                                  <input th:value="${sympt.key}" th:text="${sympt.value}" th:id="location- + ${sympt.key}" id="location-1" type="radio" class="uk-radio u-mr-sm" name="location" value="1" v-model="location">
                                </label>
                              </li>
                            </ul>


                            <button class="c-btn c-btn--wide c-btn--flat-base u-mt-lg" style="display: none" v-show="location" v-on:click="start">
                              Далее
                            </button>

                          </div>
                          <!--/LOCATION SELECT-->

                        </div>
                      </div>


                      <div class="symptom-graphic uk-visible@m" style="display: none" v-show="gender">
                        <h3 class="e-h3 page-subtitle tg-base--strong">
                          Выберите беспокоящую область
                        </h3>
                        <div class="symptom_select-area">
                          <img src="img/human-figure-front.svg" alt="фигура человека">
                        </div>
                      </div>

                    </div>

                    <!--Q&A-->
                    <div class="u-radius bg-base--weak uk-padding lay-center lay-centered" style="display: none" v-show="questionText">
                      <div class="">
                        <h3 class="e-h3 page-subtitle u-paragraph-limit tg-base--strong" id="symptom-title">
                          {{ questionText }}
                        </h3>
                        <div class="u-group lay-center lay-centered">
                          <button class="c-btn c-btn--wide c-btn--outline-base u-m-sm" v-on:click="send(false)" v-if="!final">
                            Нет
                          </button>

                          <button class="c-btn c-btn--wide c-btn--flat-base u-m-sm" v-on:click="send(true)" v-if="!final">
                            Да
                          </button>

                          <button class="c-btn c-btn--wide c-btn--flat-base u-m-sm" v-on:click="rerun" v-if="final">
                            Пройти тест заново
                          </button>
                        </div>

                      </div>
                    </div>
                    <!--/Q&A-->

                  </section>

                </div>
                <!--/.page-content-->

              </div>
              <!--/.page-row-->

            </div>
            <!--/.page-body-->

            <div class="page-footer">

            </div>
            <!--/.page-footer-->

          </div>
          <!--/.page-->

        </div>
        <!--/.site-content-->

      </div>
      <!--/.site-row-->

    </div>
    <!--/.site-body-->


    <footer class="site-footer">
      <div class="site-footer_main">

      </div>
    </footer>
    <!--/.site-footer-->

    <!--MODALS-->
    <div id="modal-center" class="uk-flex-top bg-base--strong o-mobile-menu" uk-modal>

      <button class="uk-modal-close-default c-btn c-btn--icon c-btn--flat-base" type="button" uk-close></button>

      <div class="uk-modal-dialog uk-modal-body o-mobile-menu_content">

        <a class="app-info" href="/">
          <picture class="app-info_logo">
            <img class="app-info_logo-img" src="img/Logo.svg" alt="selfhealth logotype" height="48" width="48">
          </picture>
          <div class="app-info_label uk-light">
            <h1 class="app-info_name">
              selfhealth
            </h1>
            <span class="app-info_subname">
              #Врач в кармане
            </span>
          </div>
        </a>

        <ul class="o-mobile-menu_nav c-list lay-col">
          <li class="site-header_menu-item u-py-sm">
            <a href="#" class="c-btn c-btn--text-light site-header_menu-link">
              расшифровать анализы
            </a>
          </li>
          <li class="site-header_menu-item u-py-sm">
            <a href="#" class="c-btn c-btn--text-light site-header_menu-link">
              проверить симптомы
            </a>
          </li>
          <li class="site-header_menu-item u-py-sm">
            <a href="#" class="c-btn c-btn--text-light site-header_menu-link">
              вход или регистрация
            </a>
          </li>
        </ul>

        <span class="app-info_subname">
          By MedExSYS
        </span>

      </div>
    </div>
    <!--/MODALS-->

  </div>
  <!--/.site-->

  <!--SCRIPTS-->
  <script async src="js/app.js"></script>
  <!--/SCRIPTS-->

</body>

</html>